.movie-details {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 560px;
}

.movie-details-bg {
    filter: brightness(50%) blur(32px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.movie-details-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
}

.movie-details-text {
    max-width: 800px;
    color: #f4f4f4;
    padding-left: 128px;
}

.movie-title {
    font-size: 64px;
}

.movie-info {
    max-width: 640px;
    margin: 24px 0;
}

.movie-info dl {
    margin: 0;
    display: block;
}

.movie-info dt,
.movie-info dd {
    margin: 0;
    padding: 4px 0;
}

.movie-info dt {
    width: 120px;
    float: left;
    clear: left;
    color: #f4f4f4;
    opacity: 50%;
}

.movie-info dd {
    margin-left: 120px;
    color: #f4f4f4;
}

.movie-details p {
    font-size: 20px;
    margin-bottom: 80px;
    word-wrap: break-word;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 4px;
}

.movie-details button {
    margin-right: 8px;
    padding: 16px 64px;
    font-size: 16px;
    background-color: #f4f4f4;
    border: none;
    color: #161616;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.movie-details button:hover {
    transform: scale(1.1);
}

.movie-details button:active {
    transform: scale(1);
    transition: transform 0.05s ease;
    filter: brightness(60%);
}

.introduction {
    color: #f4f4f4;
    padding: 16px 64px 0px 64px;
    font-size: 16px;
    margin-bottom: 80px;
}

p {
    color: #f4f4f4;
    padding: 16px 64px 0px 64px;
    font-size: 24px;
    margin-bottom: 80px;
}