body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.search-box {
    width: 80%;
    max-width: 400px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

input {
    width: 100%;
    background-color: #393939;
    border: none;
    outline: none;
    font-size: 16px;
    color: #f4f4f4;
    padding-left: 16px;
    margin-right: 16px;
}

#results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    margin: 20px;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    gap: 40px;
}

.movie {
    width: 160px;
    text-align: center;
    transition: transform 0.2s ease;
    margin: 0;
}

.movie img.poster {
    max-width: 100%;
    height: auto;
}

.movie p {
    color: #f4f4f4;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 800px) {
    #results {
        display: flex; 
        flex-wrap: wrap;
    }
}